<!DOCTYPE HTML>
<html>
<head>
<title>{$app_default_title} :: {$title}</title>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="{$skinpath}css/jquery.mobile-1.4.0.min.css" />
<link rel="stylesheet" href="{$skinpath}css/ios_inspired/style.css" />
<link rel="stylesheet" href="{$skinpath}css/styles.css" />
<link rel="stylesheet" type="text/css" href="{$skinpath}css/jquery.datetimepicker.css"/ >
<script src="{$skinpath}js/jquery-2.1.0.min.js"></script>
<script src="{$skinpath}js/jquery.mobile-1.4.0.min.js"></script>
<script src="{$skinpath}js/jquery.datetimepicker.js"></script>
</head>
<body>
<div data-role="page" data-add-back-btn="true">
<div data-role="header">
	<h1>{$title}</h1>
</div>
<div data-role="content">
